.dropdown{
    color: #979699;
    font-size: 13px;
    font-weight: 500;
    line-height: normal;
    select{
        border-radius: 2px;
        border: 1px solid rgba(151, 150, 153, 0.24);
        padding: 8px;
        color: #979699;
        font-size: 13px;
        font-weight: 500;
        line-height: normal;
    }
    option{
        color: #979699;
        font-size: 13px;
        font-weight: 500;
        line-height: normal;
    }
}
