.head{
    display: flex;
    flex-direction: column;
    h4{
        color: #FFF;
        font-size: 42px;
        font-weight: 600;
        line-height: normal;
    }
    p{
        color: #FFF;
        font-size: 14px;
        font-weight: 600;
        line-height: normal;
    }
}