.mainhead{
      p{
        color: #23005B;
        font-size: 28px;
        font-weight: 600;
        line-height: normal;
      }
      a{
        color: #5321CA;
        font-size: 15px;
        font-weight: 500;
        line-height: normal;
        text-decoration: none;
      }
}