.cardprofit{
    display: flex;
    flex-direction: row;
    gap: 26px;
    padding: 30px;
    border-radius: 12px;
    background-color: white;
    max-width: 296px;
    &__cont2{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}
