.total{
    &__left{
        display: flex;
        flex-direction: row;
        gap: 14px;
        align-items: center;
    }
    &__top{
        display: flex;
        flex-direction: row;
        gap: 272px;
    }
    width: 715px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 27px;
    background-color: white;
}